In [1]:
import sys
import warnings
warnings.filterwarnings('ignore')
import glob
!{sys.executable} -m pip install numpy pandas matplotlib scikit-learn pyarrow seaborn imblearn xgboost| grep -v 'already satisfied'

#

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

WARNING: You are using pip version 22.0.4; however, version 24.0 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3 -m pip install --upgrade pip' command.

In [2]:
df = pd.read_csv("data/train.csv")

In [3]:
df.head()

,id,N_Days,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage,Status
0,0,999,D-penicillamine,21532,M,N,N,N,N,2.3,316.0,3.35,172.0,1601.0,179.80,63.0,394.0,9.7,3.0,D
1,1,2574,Placebo,19237,F,N,N,N,N,0.9,364.0,3.54,63.0,1440.0,134.85,88.0,361.0,11.0,3.0,C
2,2,3428,Placebo,13727,F,N,Y,Y,Y,3.3,299.0,3.55,131.0,1029.0,119.35,50.0,199.0,11.7,4.0,D
3,3,2576,Placebo,18460,F,N,N,N,N,0.6,256.0,3.50,58.0,1653.0,71.30,96.0,269.0,10.7,3.0,C
4,4,788,Placebo,16658,F,N,Y,N,N,1.1,346.0,3.65,63.0,1181.0,125.55,96.0,298.0,10.6,4.0,C

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7905 entries, 0 to 7904
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             7905 non-null   int64
 1   N_Days         7905 non-null   int64
 2   Drug           7905 non-null   object
 3   Age            7905 non-null   int64
 4   Sex            7905 non-null   object
 5   Ascites        7905 non-null   object
 6   Hepatomegaly   7905 non-null   object
 7   Spiders        7905 non-null   object
 8   Edema          7905 non-null   object
 9   Bilirubin      7905 non-null   float64
 10  Cholesterol    7905 non-null   float64
 11  Albumin        7905 non-null   float64
 12  Copper         7905 non-null   float64
 13  Alk_Phos       7905 non-null   float64
 14  SGOT           7905 non-null   float64
 15  Tryglicerides  7905 non-null   float64
 16  Platelets      7905 non-null   float64
 17  Prothrombin    7905 non-null   float64
 18  Stage          7905 non-null   float64
 19  Status         7905 non-null   object
dtypes: float64(10), int64(3), object(7)
memory usage: 1.2+ MB

In [5]:
# create train and validation sets that are divided equally

In [6]:
from sklearn.model_selection import train_test_split

train, validation = train_test_split(df, stratify=df["Status"], test_size=0.2)

In [7]:
numeric_values = ["N_Days","Age","Bilirubin","Cholesterol","Albumin","Copper","Alk_Phos","SGOT","Tryglicerides","Platelets","Prothrombin","Stage"]

In [8]:
categorical_values = ["Drug","Sex","Ascites","Hepatomegaly","Spiders","Edema"]
categorical_bin_values = ["Drug","Sex","Ascites","Hepatomegaly","Spiders"]
categorical_oh_values = ["Edema"]

In [9]:
features_to_scale = ["N_Days","Age","Bilirubin","Cholesterol","Albumin","Copper","Alk_Phos","SGOT","Tryglicerides","Platelets","Prothrombin","Stage"]

In [10]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import OneHotEncoder

# numeric pipeline
num_pipeline = Pipeline([('func_transformer', FunctionTransformer(np.log1p)), 
                         ('minmax_scaler', MinMaxScaler()), ])

In [11]:
from sklearn.base import BaseEstimator, TransformerMixin 
class BinaryEncoder (BaseEstimator, TransformerMixin):
    def __init__ (self, features):
        self.features = features
    def fit(self, X, y=None): 
        return self # do nothing
    def transform(self, X):
        for c in self.features:
            values = X[c].unique()
            X[c].replace(values,(0,1), inplace=True)
        return X

In [12]:
# full pipeline (numeric & categorical)
full_pipeline = ColumnTransformer([ ("num", num_pipeline, numeric_values), 
                                   ("bin_cat", BinaryEncoder(categorical_bin_values), categorical_bin_values), 
                                   ("cat", OneHotEncoder(sparse_output=False), categorical_oh_values), ]) 
train_prepared = full_pipeline.fit_transform(train)

In [13]:
# transform with pipeline
train_prepared = full_pipeline.fit_transform(train)

In [14]:
pd.DataFrame(train_prepared).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.832516,0.728662,0.086399,0.274575,0.649746,0.319996,0.210687,0.268827,0.192121,0.481479,0.271017,0.756471,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.748681,0.694359,0.104808,0.406908,0.749853,0.495043,0.270356,0.455126,0.550589,0.626993,0.061105,0.442507,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,0.668037,0.569078,0.361982,0.767488,0.649746,0.799142,0.467605,0.673081,0.573085,0.588793,0.119904,1.000000,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
3,0.781341,0.164120,0.399916,0.406908,0.597161,0.517531,0.559208,0.426099,0.528796,0.775763,0.030852,0.756471,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,0.536682,0.691636,0.169438,0.306966,0.625428,0.630256,0.354664,0.362585,0.346972,0.566335,0.322525,1.000000,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0

In [15]:
from imblearn.over_sampling import SMOTE

# Initialize SMOTE
smote = SMOTE(random_state=42)

# Apply SMOTE to the training data
X_train_smote, y_train_smote = smote.fit_resample(train_prepared, train["Status"])

In [18]:
# Train Model
from xgboost import XGBClassifier
    # Label Encoding
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
labels_en = label_encoder.fit_transform(y_train_smote)
model_xgb = XGBClassifier(random_state=42).fit(X_train_smote, labels_en)

In [19]:
# Cross Validation
from sklearn.model_selection import KFold, cross_val_score
xgb_scores = cross_val_score(model_xgb, X_train_smote, labels_en, scoring="neg_log_loss", cv=5)
print(-xgb_scores)
print(-xgb_scores.mean())

[0.36374398 0.30991709 0.28698351 0.24197018 0.27191795]
0.2949065412558814

In [45]:
# Hyperparameter tuning
from sklearn.model_selection import GridSearchCV

# Declare a parameter grid for GridSearch
param_grid = {
    'n_estimators': [100, 150, 200],
    'max_depth': [3,5,7],
    'subsample': [0.6, 0.8]
}

# GridSearchCV on RF+SMOTE classifier model (with SMOTE)
grid_search = GridSearchCV(XGBClassifier(random_state=42), param_grid, cv=5, scoring='precision', return_train_score=True)
grid_search.fit(X_train_smote, labels_en)

# Save best model from grid search
best_xgb = grid_search.best_estimator_

In [46]:
# prepare validation data
val_prepared = full_pipeline.fit_transform(validation)
#     prepare labels
val_labels_en = label_encoder.fit_transform(validation["Status"])

In [47]:
# Predict on the validation set with the best model
y_val_pred_best_xgb = best_xgb.predict_proba(val_prepared)

In [48]:
from sklearn.metrics import log_loss

best_score = log_loss(validation["Status"], y_val_pred_best_xgb)
print(best_score)

0.5894552609693242

In [31]:
log_loss(validation["Status"], model_xgb.predict_proba(val_prepared))

0.6071666790845676

In [ ]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
labels_en = label_encoder.fit_transform(train["Status"])
# k-fold (e.g. 5) validation, with log loss, scores need to be un-negated back
# scores = cross_val_score(model, train_prepared, labels_en, scoring="neg_log_loss", cv=5)